.table-dark {
  .state-canceled {
    background: var(--app-error);
  }
  .state-option {
    background: var(--app-primary);
  }
  .state-confirmed {
    background: var(--app-success);
  }
}

.secondary {
  .table-dark {
    .state-option {
      background: var(--app-secondary);
    }
  }
}
